<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Photos 360</title>
</head>
<body>
<iframe width="800" height="450" allowfullscreen="true" frameborder="0"
 src="//storage.googleapis.com/vrview/index.html?image=//photos-360.herokuapp.com/img/sample2.jpg&amp;is_stereo=false" ></iframe>
<iframe width="800" height="450" allowfullscreen="true" frameborder="0"
 src="//storage.googleapis.com/vrview/index.html?image=//photos-360.herokuapp.com/img/sample.jpg&amp;is_stereo=true" ></iframe>

<div id="vrview">
<iframe allowfullscreen="true" scrolling="no" 
width="100%" height="300"
src="https://storage.googleapis.com/vrview/2.0/index.html?preview=//storage.googleapis.com/vrview/examples/coral-preview.jpg&amp;image=//storage.googleapis.com/vrview/examples/coral.jpg&amp;is_stereo=true&amp;" style="border: 0px;">
</iframe></div>

<div id="vrview">

</div>
<script src="https://storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>
<script type="text/javascript">

window.addEventListener('load', onVrViewLoad);

function onVrViewLoad() {
  var vrView = new VRView.Player('#vrview', {
	  image: 'img/sample2.jpg',
    is_stereo: false,
    height : 450 ,
    width : 800
  });
  vrView.addHotspot('dining-room', {
	  pitch: 30, // In degrees. Up is positive.
	  yaw: 20, // In degrees. To the right is positive.
	  radius: 0.05, // Radius of the circular target in meters.
	  distance: 2 // Distance of target from camera in meters.
	});
  vrView.on('click', function(event) {
// 	  alert(event.id)
	});
  
}
</script>



API : https://developers.google.com/vr/discover/360-degree-media
HOTSPOT : https://googlevr.github.io/vrview/examples/hotspots/index.html
</body>
</html>
