<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Photos 360</title>
</head>
<body>
<iframe width="800" height="450" allowfullscreen="true" frameborder="0"
 src="//storage.googleapis.com/vrview/index.html?image=//photos-360.herokuapp.com/img/sample.jpg&amp;is_stereo=true" ></iframe>

<div id="vrview">
<iframe allowfullscreen="true" scrolling="no" 
width="100%" height="300"
src="https://storage.googleapis.com/vrview/2.0/index.html?preview=//storage.googleapis.com/vrview/examples/coral-preview.jpg&amp;image=//storage.googleapis.com/vrview/examples/coral.jpg&amp;is_stereo=true&amp;" style="border: 0px;">
</iframe></div>
<script src="//storage.googleapis.com/vrview/2.0/build/vrview.min.js"></script>

</body>
</html>